<!--운행 순위 확인-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운행 순위 확인</title>
    <link rel="stylesheet" href="css/4-ranking.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/abbapi.js"></script>
</head>
<body style="visibility: hidden;">
    <!--header-->
    <header>
        <a href="2-menubar.html">
            <p>≡</p>
        </a>
        <a href="1-main_login.html">
            <img src="img/logo.png" alt="아이커넥트" class="logo">
        </a>
        <!--로그인 구현 이후 style 지우기-->
        <div style="visibility: hidden;"> 
            <a href="10-1mypage.html">
                <img src="img/프로필.png" alt="프로필" class="profile">
            </a>
            <a href="1-main.html">
                <button class="logout">로그아웃</button>
            </a>
        </div>
    </header>

    <!--운행 순위 확인-->
    <div class="drive_rank">
        <div class="title">
            <p>운행 순위 확인</p>
        </div>
    </div>

    <!--날짜-->
    <div class="date-nav">
        <button class="slide-button" id="prevDate">&lt;</button>
        <span class="date-display" id="currentDate">&nbsp;</span>
        <button class="slide-button" id="nextDate">&gt;</button>
    </div>
    
    <div class="tab-menu">
        <button class="tab-active" id="daylyTab">일간</button>
        <button class="tab" id="monthlyTab">월간</button>
    </div>

    <!--검색-->
    <div class="serch">
        <div class="serch-container">
            <input type="text" name="serch" id="serch" placeholder="11가 1234 또는 홍길동">
            <div id="carNumberDropdown" class="dropdown-menu" style="display: none;"></div>
            <button id="toggleListBtn" class="toggle-list-btn">
                <img src="img/arrow-down-filled-triangle.png">
            </button>
        </div>
        <button id="serchBtn" class="serch-btn">
            <img src="img/serch.png" alt="검색" class="serch-img">
        </button>
    </div>

    <!--순위표-->
    <div class="table-container">
        <table id="rankTable" >
            <colgroup>
                <col> <!-- 25% 너비 -->
                <col> <!-- 25% 너비 -->
                <col> <!-- 25% 너비 -->
                <col> <!-- 25% 너비 -->
            </colgroup>
            <thead>
                <tr>
                    <th class="rank">순위</th>
                    <th class="num">차량번호</th>
                    <th class="name">운전자</th>
                    <th class="score">점수</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    let currentDate = new Date();
    let userId = null;
    let searchQuery = localStorage.getItem('searchQuery') || ''; // 저장된 검색어
    let dateRange = localStorage.getItem('dateRange') || 'dayly'; // 'dayly' or 'monthly', 저장된 값 없으면 기본 'dayly'

    window.onload = async function() {
        // 새로고침인지 확인
        const isReload = performance.navigation.type === performance.navigation.TYPE_RELOAD;
    
        // 현재 페이지와 이전 페이지 확인
        const currentPage = window.location.href;
        const previousPage = document.referrer;
    
        // 새로고침이 아니거나 이전 페이지와 다를 경우 localStorage 초기화
        if (!isReload && (!previousPage || previousPage !== currentPage)) {
            localStorage.removeItem('dateRange');
            localStorage.removeItem('searchQuery');
            localStorage.removeItem('currentDate');
            localStorage.removeItem('day');
            // console.log("localStorage 초기화: 새로고침이 아니거나 다른 페이지에서 이동한 경우");
        } else {
            // console.log("localStorage 유지: 새로고침이거나 동일한 페이지에서 이동한 경우");
        }
    
        document.body.style.visibility = 'hidden'; // 초기 상태에서 body 숨김
    
        try {
            await initializePage(); // 페이지 초기화
            document.body.style.visibility = 'visible'; // 초기화 후 body 표시
        } catch (error) {
            console.error("페이지 초기화 중 오류 발생:", error);
            document.body.style.visibility = 'visible'; // 오류 발생 시에도 body 표시
        }
    };
    
    async function initializePage() {
        try {
            const savedDateRange = localStorage.getItem('dateRange') || 'dayly';
            dateRange = savedDateRange; // 저장된 값이 없으면 기본값으로 설정
            updateTabUI();
    
            const savedDate = localStorage.getItem('currentDate');
            if (savedDate) {
                currentDate = new Date(savedDate);
            } else {
                currentDate = new Date();
            }
    
            const savedSearchQuery = localStorage.getItem('searchQuery') || '';
            searchQuery = savedSearchQuery;
            document.getElementById("serch").value = searchQuery;
            await loadAndDisplayData(searchQuery);
    
            updateDateDisplay(); // 날짜 표시 업데이트
        } catch (error) {
            console.error("초기화 중 오류:", error);
        }
    }

    // 날짜
    // 날짜 업데이트
    function updateDateDisplay() {
        const formattedDate = dateRange === 'dayly' ? formatDate(currentDate) : formatMonth(currentDate);
        document.getElementById('currentDate').innerHTML = formattedDate;
        localStorage.setItem('currentDate', currentDate.toISOString());
        updateDriveRank(userId, formattedDate);
    }

    function formatMonth(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더한다.
        return `${year}-${month}`;
    }

    function formatDate(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더한다.
        const day = String(date.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    function setMonth(date, offset) {
        const year = date.getFullYear();
        const thisMonth = date.getMonth(); // 0부터 시작
        let day = localStorage.getItem('day');
    
        const nextMonth = thisMonth + offset;
        const newYear = year + Math.floor(nextMonth / 12); // 연도 계산
        const correctedNextMonth = (nextMonth + 12) % 12; // 음수 월을 방지
    
        // 현재 월의 마지막 날
        const lastDayOfThisMonth = new Date(year, thisMonth + 1, 0).getDate();
    
        // 다음(이전) 월의 마지막 날
        const lastDayOfNextMonth = new Date(newYear, correctedNextMonth + 1, 0).getDate();
    
        // 날짜 조정
        if (day > lastDayOfNextMonth) {
            day = lastDayOfNextMonth;
        }
    
        // 새 날짜 생성
        const newDate = new Date(newYear, correctedNextMonth, day);
        return newDate;
    }

    // 왼쪽 화살표 클릭 시 하루 또는 한 달 감소
    document.getElementById('prevDate').addEventListener('click', function() {
        if (dateRange === 'dayly') {
            currentDate.setDate(currentDate.getDate() - 1);
        } else {
            currentDate = setMonth(currentDate, -1);
        }
        updateDateDisplay();
    });

    // 오른쪽 화살표 클릭 시 하루 또는 한 달 증가
    document.getElementById('nextDate').addEventListener('click', function() {
        if (dateRange === 'dayly') {
            currentDate.setDate(currentDate.getDate() + 1);
        } else {
            currentDate = setMonth(currentDate, 1);
        }
        updateDateDisplay();
    });

    // 검색
    async function loadAndDisplayData(query) {
        if (query) {
            const response = await getUserIdbyCarNumber(query); // 차량 번호로 사용자 ID 조회
            if (response && response.length > 0) {
                userId = response[0].id;
                const formattedDate = dateRange === 'dayly' ? formatDate(currentDate) : formatMonth(currentDate);
                await updateDriveRank(userId, formattedDate); // 데이터 업데이트
                document.body.style.visibility = 'visible'; // 데이터 로드 완료 후 body 표시
            } else {
                alert("해당 차량번호는 없습니다.");
                document.body.style.visibility = 'visible'; // 데이터가 없어도 body 표시
            }
        } else {
            // 검색어가 빈 문자열이거나 null인 경우 전체 운행 순위 로드
            userId = null; // 전체 순위를 보기 위해 userId를 null로 설정
            const formattedDate = dateRange === 'dayly' ? formatDate(currentDate) : formatMonth(currentDate);
            await updateDriveRank(userId, formattedDate);
            document.body.style.visibility = 'visible';
        }
    }

    // 차량 번호 검색 버튼 클릭 시 동작
    document.getElementById("serchBtn").addEventListener("click", async function() {
        const savedSearchQuery = document.getElementById("serch").value;
        localStorage.setItem('searchQuery', savedSearchQuery); // 검색어 저장
        await loadAndDisplayData(savedSearchQuery);
    });

    // 엔터 키로도 검색 가능하게 처리
    document.getElementById("serch").addEventListener("keyup", async function(event) {
        if (event.key === "Enter") {
            const savedSearchQuery = document.getElementById("serch").value;
            localStorage.setItem('searchQuery', savedSearchQuery); // 검색어 저장
            await loadAndDisplayData(savedSearchQuery);
        }
    });

    // 탭 전환
    document.getElementById('daylyTab').addEventListener('click', () => {
        dateRange = 'dayly';
        localStorage.setItem('dateRange', dateRange);
        updateTabUI();
        updateDateDisplay();
    });

    document.getElementById('monthlyTab').addEventListener('click', () => {
        localStorage.setItem('day', currentDate.getDate());
        dateRange = 'monthly';
        localStorage.setItem('dateRange', dateRange);
        updateTabUI();
        updateDateDisplay();
    });

    // 탭 UI 업데이트
    function updateTabUI() {
        document.getElementById('daylyTab').className = dateRange === 'dayly' ? 'tab-active' : 'tab';
        document.getElementById('monthlyTab').className = dateRange === 'monthly' ? 'tab-active' : 'tab';
    }

    // 목록 토글
    // 목록 토글 버튼에 클릭 이벤트 추가
    document.getElementById("toggleListBtn").addEventListener("click", toggleDropdown);

    // 차량번호 목록 토글 함수
    async function toggleDropdown() {
        const dropdown = document.getElementById("carNumberDropdown");

        if (dropdown.style.display === "none") {
            dropdown.style.display = "block";
            await loadCarNumberList();
        }
        else {
            dropdown.style.display = "none";
        }
    }

    // 차량번호 목록 로드 함수
    async function loadCarNumberList() {
        const dropdown = document.getElementById("carNumberDropdown");
        dropdown.innerHTML = ""; // 초기화

        const carNumbers = await loadAllCarNumber();

        // "전체 운행 순위" 항목 추가
        const allRankDiv = document.createElement("div");
            allRankDiv.textContent = "전체 운행 순위";
            allRankDiv.onclick = async () => {
                localStorage.setItem('searchQuery', "");
                document.getElementById("serch").value = "";
                dropdown.style.display = "none";
                await loadAndDisplayData(null);
            };
            dropdown.appendChild(allRankDiv);

        carNumbers.forEach(carNumber => {
            const carDiv = document.createElement("div");
            carDiv.textContent = carNumber.veh_number;
            carDiv.onclick = async () => {
                localStorage.setItem('searchQuery', carNumber.veh_number);
                document.getElementById("serch").value = carNumber.veh_number;
                dropdown.style.display = "none";
                await loadAndDisplayData(carNumber.veh_number);
            };
            dropdown.appendChild(carDiv);
        });
    }

    async function updateDriveRank(userId, date) {
        if (userId) {
            const data = await (dateRange === 'dayly' ? loadDriveRankingDate(userId, date) : loadDriveRankingMonth(userId, date));
            updateTable(data);
        }
        else {
            const data = await (dateRange === 'dayly' ? loadAllDriveRankingDate(date) : loadAllDriveRankingMonth(date));
            updateTable(data);
        }
    }

    async function updateTable(data) {
        const tableBody = document.getElementById('rankTable').querySelector('tbody');
        tableBody.innerHTML = "";

        if (!data || data.length === 0) {
            tableBody.innerHTML = `<tr><td colspan="4" class="no-data">주행 기록이 없습니다.</td></tr>`;
        }

        for (const item of data) {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td class="rank">${item.rank}</td>
                <td class="num">${item.veh_number}</td>
                <td class="name">${item.user_name}</td>
                <td class="score">${item.score_drive}</td>
            `;
            tableBody.appendChild(row);
        }
    }
</script>