body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

/*헤더*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: -10px 0;
    background-color: white;
    box-shadow: 0 3px 1px #0000001a;
}

header p{
    font-size: 42px;
    color: #afafaf;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -20px;
    margin-left: 15px;
    margin-right: 6.4em;
}

header a{
    text-decoration: none;
}

.logo{
    width: 50%;
    margin-top: 10px;
}

.profile{
    width: 35px;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: -50px;
}

.logout{
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid #79a2df;
    color: #79a2df;
    background-color: #ffffff;
    float: right;
    padding: 3px 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.logout:hover{
    background-color: #ebebeb;
}

/*차량별 운전 스타일 확인*/
.drive-style{
    margin-top: 45px;
}

.title{
    font-size: 22px;
    font-weight: 550;
    margin-left: 120px;
}

/* 검색 */
.serch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.serch-container {
    position: relative;
    width: 700px;
}

.serch p{
    font-size: 20px;
    font-weight: 545;
    margin-top: 20px;
}

input{
    border: 2px solid #a7cfe2;
    border-radius: 7px;
    width: 100%;
    height: 45px;
    text-align: center;
    color: #79a2df;
    box-sizing: inherit;
}

input::placeholder{
    color: #bbc5ce;
    font-size: 17px;
}

input:focus {outline:none;}  /*클릭 시 테두리 x*/

.serch-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 2px;
}

.serch-img{
    height: 50px;
}

/* 드롭다운 */
.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: calc(100% - 15px);
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    text-align: center;
}

.dropdown-menu div {
    padding: 5px;
    cursor: pointer;
}

.dropdown-menu div:hover {
    background-color: #f0f0f0;
}

.toggle-list-btn {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #79a2df;
}

/* 날짜 */
.date-nav{
    display: flex;
    justify-content: center;
}

.slide-button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.date-display{
    font-size: 18px;
    font-weight: 550;
    color: #333;
    padding: 0 20px;
}

/* 탭 메뉴 */
.tab-menu{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 13%;
}

.tab-menu a{
    text-decoration-line: none;
}

.tab{
    background-color: #f0f0f0;
    color: #bbbbbb;
    border: none;
    padding: 1px 17px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.tab-active{
    background-color: #79a2df;
    color: white;
    border: none;
    padding: 1px 17px;
    border-radius: 25px;
    font-size: 15px;
}

/*결과*/
.result{
    width: 75%;
    display: flex;
    text-align: center;
    margin: 0 auto 30px auto;
}

@media (max-width: 768px) {
    .drive-score-table-container td {
        font-size: 16px !important;
    }
    .drive-style-table-container td {
        font-size: 12px !important;
    }
}

/*점수*/
.score{
    width: 35%;
    background-color: #d8ecf8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score img{
    width: 80%;
    margin-top: 5em;
    margin-bottom: 45px;
}

/* 표 */
.drive-score-table-container {
    width: 100%;
    text-align: center;
}

.drive-score-table-container table {
    width: 100%;
    table-layout: fixed;
}

.drive-score-table-container td {
    font-size: 28px;
    padding: 10px;
}

/* 열 너비 설정 */

.drive-score-table-container table colgroup col:nth-child(1) {
    width: 45%;
}

.drive-score-table-container table colgroup col:nth-child(2) {
    width: 55%;
}

.drive-style-table-container {
    width: 65%;
    text-align: center;
    margin-left: 40px;
    border-radius: 10px;
    border: 1px solid #383838;
}

.drive-style-table-container table{
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
}

.drive-style-table-container td {
    border-bottom: 2px solid #f1f1f1;
    padding: 30px;
    font-size: 24px;
    word-wrap: break-word;
}

/* 운전 등급 차트 */
.chart-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#dashboardChart {
    display: block;
    width: 100%;
    height: auto; /* 비율 유지하며 크기 조정 */
}