body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

/* 헤더 */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: -10px 0;
    background-color: white;
    box-shadow: 0 3px 1px #0000001a;
}

header p{
    font-size: 42px;
    color: #afafaf;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -20px;
    margin-left: 15px;
    margin-right: 6.4em;
}

header a{
    text-decoration: none;
}

.logo{
    width: 50%;
    margin-top: 10px;
}

.profile{
    width: 35px;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: -50px;
}

.logout{
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid #79a2df;
    color: #79a2df;
    background-color: #ffffff;
    float: right;
    padding: 3px 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.logout:hover{
    background-color: #ebebeb;
}

/* 차량별 주행 횟수 */
.drive-num{
    margin-top: 45px;
}

.title{
    font-size: 22px;
    font-weight: 550;
    margin-left: 120px;
}

/* 검색 */
.serch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.serch-container {
    position: relative;
    width: 700px;
}

.serch p{
    font-size: 20px;
    font-weight: 545;
    margin-top: 20px;
}

input{
    border: 2px solid #a7cfe2;
    border-radius: 7px;
    width: 100%;
    height: 45px;
    text-align: center;
    color: #79a2df;
    box-sizing: inherit;
}

input::placeholder{
    color: #bbc5ce;
    font-size: 17px;
}

input:focus {outline:none;}  /*클릭 시 테두리 x*/

.serch-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 2px;
}

.serch-img{
    height: 50px;
}

/* 드롭다운 */
.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: calc(100% - 15px);
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    text-align: center;
}

.dropdown-menu div {
    padding: 5px;
    cursor: pointer;
}

.dropdown-menu div:hover {
    background-color: #f0f0f0;
}

.toggle-list-btn {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #79a2df;
}

/* 날짜 */
.date-nav{
    display: flex;
    justify-content: center;
}

.slide-button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.date-display{
    font-size: 18px;
    font-weight: 550;
    color: #333;
    padding: 0 20px;
}

/* 탭 메뉴 */
.tab-menu{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 7%;
}

.tab-menu a{
    text-decoration-line: none;
}

.tab{
    background-color: #f0f0f0;
    color: #bbbbbb;
    border: none;
    padding: 1px 17px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.tab-active{
    background-color: #79a2df;
    color: white;
    border: none;
    padding: 1px 17px;
    border-radius: 25px;
    font-size: 15px;
}

/*결과창*/
.result {
    padding: 22px 20px;
    max-width: 90%;
    margin: 0 auto 30px auto;
    border-radius: 10px;
    border: 1px solid #383838;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 18vh;
}

.result a{
    text-decoration: none;
}

/* 그래프 & 표 버튼 */
.select{
    display: flex;
    padding: 0;
}

.select p{
    font-size: 18px;
    margin-top: 8px;
    margin-right: 20px;
}

.check{
    width: 27px;
    border-radius: 50%;
    border: none;
    background-color: #79a2df;
    color: #ffffff;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 11px;
    font-size: 18px;
    align-items: center;
}

.no-check{
    width: 27px;
    border-radius: 50%;
    border: none;
    background-color: #e2e2e2;
    color: #b6b6b6;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 11px;
    font-size: 18px;
    align-items: center;
}

/*그래프*/
.chart-container {
    max-width: 100%;
    overflow-x: auto;
}

.chart{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

.bar{
    width: 15px;
    background-color: #79a2df;
    color: white;
    text-align: center;
    border-radius: 2px;
    position: relative;
}

.bar-value{
    position: absolute;
    top: -20px;
    transform: translateX(-50%);
    font-size: 12px;
    color: #333;
}

.x-axis{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 1;
    left: 10px;
    right: 10px;
    z-index: 3;
}

.x-label{
    font-size: 11px;
    color: #333;
    text-align: center;
}

.guide-lines{
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    opacity: 0.5;
}

/*표*/
#tripTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    color: #333;
    border: 1px solid #f1f1f1;
}

#tripTable thead th {
    font-weight: bold;
    background-color: #d3e9fa;
    color: #000000;
    padding: 15px;
    border-bottom: 2px solid #f1f1f1;
}

#tripTable tbody td {
    padding: 12px;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
}

#tripTable tbody {
    display: block;
    overflow-y: auto;
    max-height: 325px;
    width: 100%;
}

#tripTable thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#tripTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}